.input {
    width: 75%;
    height: 32px;
}

.customMargin {
    margin-left: 12%;
    margin-right: 12%;
}

.iconCloud {
    color: rgb(185, 185, 185);
}

.customTitle {
    letter-spacing: 2px;
    font-size: xxx-large;
    
}